.topWrapper{
flex: 0 0 290px;
max-width: 100%;
background: var(--bg-color);
height: 100%;
padding: 4rem 1rem;

}
.searchFilters-container{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    height: auto;
}
.filters-form{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
}
.filters-form label{
    font-weight: 550;
    line-height: 1.2;
    color: var(--text-color);
}
.filters-form > input[type="text"],[type="number"], .search-wrapper input[type="text"]{
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid black;
    margin-top: 2px;
    width: 100%;

}
.search-wrapper{
    position: relative;
}   
.search-field{
    width: 100%;
    
}
.search-field:hover{
    border: 2px solid rgb(171, 171, 240);   
}
.search-icon{
    position: absolute;
    top: 50%;
    right:8px;
    transform: translateY(-50%);
    color: var(--gray-bg-color);
    font-size: 1.2rem;
    cursor: pointer;
}
input:hover{

    border: 2px solid rgb(171, 171, 240);
}
.product-status{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 4px;
    border: 1px solid var(--border-color);
    padding: 8px;
}

.search-btn{
    width: 70%;
    align-items: center;
    margin: 0 auto;
    padding: 12px 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 2px 2px 5px var(--gray-bg-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.search-btn:hover{
    border: 1px solid var(--primary-color);
    background-color:inherit;
    color: var(--primary-color);

    box-shadow: 3px 3px 6px var(--dark-color);
}

.filters-form >select{
    
    padding:  8px 10px;
    border-radius: 6px;
    max-width: 100%;
}
.filters-form >select:hover{
    border: 1px solid rgb(187, 187, 232);

}
.filters-form >select >option{
    color: black;
    font-weight: 600;
}